.env
.n8n/* 
!.n8n/.gitkeep
configs/*
!configs/.gitkeep
dados/cv/*
!dados/cv/.gitkeep
dados/entrada/*
!dados/entrada/.gitkeep
dados/json/*
!dados/json/.gitkeep
logs/*
!logs/.gitkeep
/tmp_home_1002
chromedriver-win64/*
*.old
venv
application_default_credentials.json
chromedriver-linux64.zip
erros_analise_vagas.json
google-chrome-stable_current_amd64.deb
job_details_error_backup.xlsx
output/*
!output/.gitkeep
arvore.txt
jobscontainer.txt
otimizador_cv.txt
configs.txt
rota.txt
scripts/search_linkedin.txt
